* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: lighter;
}

button, input {
    font-family: inherit;
    font-size: 10px;
}

img {
    vertical-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.rowflow {
    flex-direction: row;
}

.boxed {
    border: solid 2px #333333;
    border-radius: 105px 15px 225px 15px/15px 225px 15px 255px;
    outline: none;
    background-color: transparent;
}

.group {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}

.canvas {
    background-color: white;
}

.full-height{
    height: 100%;
}

.full-width {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: transparent;
}

.modal .boxed {
    background-color: white;
}

.content {
    margin: 0.5rem;
    text-align: left;
}

.modal .content {
    padding: 0 2rem;
}

.close {
    background-color: transparent;
    border: none;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

button:active {
    border-color: steelblue;
}